<a href="https://colab.research.google.com/github/nicolas-errandonea/TFG/blob/TFGcodes/Merging_Bundesliga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
from matplotlib import pyplot as plt
import numpy as np 
import pandas as pd
import random
drive.mount('/content/gdrive', force_remount=True)
path1 = "/content/gdrive/My Drive/Bundesliga/bundesliga17-18.csv"
path2 = "/content/gdrive/My Drive/Bundesliga/bundesliga18-19.csv"
path3 = "/content/gdrive/My Drive/Bundesliga/bundesliga19-20.csv"
path4 = "/content/gdrive/My Drive/Bundesliga/bundesliga20-21.csv"
path5 = "/content/gdrive/My Drive/Bundesliga/bundesliga21-22.csv"

df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)
df3 = pd.read_csv(path3)
df4 = pd.read_csv(path4)
df5 = pd.read_csv(path5)

Mounted at /content/gdrive

Primera temporada

In [ ]:
df1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,18/08/17,Bayern Munich,Leverkusen,3,1,H,2,0,H,13,...,17,4,5,1,2,0,0,1.25,6.0,12.00
1,19/08/17,Hamburg,Augsburg,1,0,H,1,0,H,11,...,16,3,7,4,3,0,0,2.10,3.4,3.60
2,19/08/17,Hertha,Stuttgart,2,0,H,0,0,D,10,...,12,5,1,2,1,0,0,2.00,3.4,3.90
3,19/08/17,Hoffenheim,Werder Bremen,1,0,H,0,0,D,14,...,15,6,4,1,3,0,0,1.75,4.0,4.33
4,19/08/17,Mainz,Hannover,0,1,A,0,0,D,14,...,14,13,1,3,5,0,0,2.00,3.4,4.00

In [ ]:
df1 = df1.drop('Div', 1)
df1=df1.drop(df1.columns[24:64], axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

Segunda temporada

In [ ]:
df2.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,24/08/2018,Bayern Munich,Hoffenheim,3,1,H,1,0,H,16,...,21,7,2,1,4,0,0,1.20,7.50,12.00
1,25/08/2018,Fortuna Dusseldorf,Augsburg,1,2,A,1,0,H,9,...,10,7,5,1,0,0,0,2.37,3.25,3.00
2,25/08/2018,Freiburg,Ein Frankfurt,0,2,A,0,1,A,22,...,12,6,4,1,2,0,0,2.30,3.30,3.25
3,25/08/2018,Hertha,Nurnberg,1,0,H,1,0,H,10,...,10,8,4,2,2,0,0,2.04,3.40,3.75
4,25/08/2018,M'gladbach,Leverkusen,2,0,H,0,0,D,17,...,10,9,5,1,2,0,0,2.80,3.50,2.45

In [ ]:
df2 = df2.drop('Div', 1)
df2=df2.drop(df2.columns[24:61], axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

Tercera temporada

In [ ]:
df3.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,16/08/2019,Bayern Munich,Hertha,2,2,D,1,2,A,17,...,17,12,0,3,3,0,0,1.14,8.00,15.00
1,17/08/2019,Dortmund,Augsburg,5,1,H,1,1,D,23,...,6,10,0,0,0,0,0,1.20,7.00,13.00
2,17/08/2019,Freiburg,Mainz,3,0,H,0,0,D,19,...,15,5,5,1,3,0,0,2.25,3.25,3.40
3,17/08/2019,Leverkusen,Paderborn,3,2,H,2,2,D,13,...,9,6,6,2,0,0,0,1.25,6.00,12.00
4,17/08/2019,Werder Bremen,Fortuna Dusseldorf,1,3,A,0,1,A,23,...,13,14,5,0,2,0,0,1.75,3.75,4.75

In [ ]:
df3 = df3.drop('Div', 1)
df3 = df3.drop('Time', 1)
df3=df3.drop(df3.columns[24:105], axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

Cuarta temporada

In [ ]:
df4.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,18/09/2020,Bayern Munich,Schalke 04,8,0,H,3,0,H,22,...,12,9,2,1,2,0,0,1.10,11.0,21.00
1,19/09/2020,Ein Frankfurt,Bielefeld,1,1,D,0,0,D,18,...,13,14,3,2,2,0,0,1.61,4.2,5.25
2,19/09/2020,FC Koln,Hoffenheim,2,3,A,1,2,A,13,...,13,1,6,0,0,0,0,2.60,3.5,2.60
3,19/09/2020,Stuttgart,Freiburg,2,3,A,0,2,A,22,...,16,7,2,2,2,0,0,2.25,3.5,3.10
4,19/09/2020,Union Berlin,Augsburg,1,3,A,0,1,A,13,...,9,8,1,2,0,0,0,2.30,3.3,3.20

In [ ]:
df4 = df4.drop('Div', 1)
df4 = df4.drop('Time', 1)
df4=df4.drop(df4.columns[24:103], axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

Quinta temporada

In [ ]:
df5.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,13/08/2021,M'gladbach,Bayern Munich,1,1,D,1,1,D,11,...,4,3,8,2,0,0,0,4.33,4.50,1.66
1,14/08/2021,Augsburg,Hoffenheim,0,4,A,0,1,A,7,...,9,6,5,1,2,0,0,3.20,3.75,2.10
2,14/08/2021,Bielefeld,Freiburg,0,0,D,0,0,D,10,...,10,4,9,3,4,0,0,2.80,3.40,2.50
3,14/08/2021,Stuttgart,Greuther Furth,5,1,H,2,0,H,30,...,8,9,2,0,1,0,0,1.83,4.00,4.00
4,14/08/2021,Union Berlin,Leverkusen,1,1,D,1,1,D,8,...,5,1,6,0,1,0,0,2.75,3.40,2.55

In [ ]:
df5 = df5.drop('Div', 1)
df5 = df5.drop('Time', 1)
df5=df5.drop(df5.columns[24:105], axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [ ]:
bund_data = pd.concat([df1, df2,df3,df4,df5])
bund_data=bund_data.reset_index(drop=True)

In [ ]:
bund_data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,18/08/17,Bayern Munich,Leverkusen,3,1,H,2,0,H,13,...,17,4,5,1,2,0,0,1.25,6.00,12.00
1,19/08/17,Hamburg,Augsburg,1,0,H,1,0,H,11,...,16,3,7,4,3,0,0,2.10,3.40,3.60
2,19/08/17,Hertha,Stuttgart,2,0,H,0,0,D,10,...,12,5,1,2,1,0,0,2.00,3.40,3.90
3,19/08/17,Hoffenheim,Werder Bremen,1,0,H,0,0,D,14,...,15,6,4,1,3,0,0,1.75,4.00,4.33
4,19/08/17,Mainz,Hannover,0,1,A,0,0,D,14,...,14,13,1,3,5,0,0,2.00,3.40,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,14/05/2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,11,5,3,2,0,0,0,1.70,4.33,4.33
1526,14/05/2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,12,6,2,1,2,0,0,2.00,4.33,3.10
1527,14/05/2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,10,8,10,1,4,0,0,2.20,4.00,2.87
1528,14/05/2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,7,1,3,3,2,0,0,1.40,5.00,7.00
1529,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,10,2,12,1,2,0,0,5.00,4.75,1.55

In [ ]:
home_points=[]
away_points=[]
for i in bund_data.index:
  if(bund_data.FTR[i]=='H'):
     home_points.append(3)
     away_points.append(0)
  if(bund_data.FTR[i]=='D'):
     home_points.append(1)
     away_points.append(1)
  if(bund_data.FTR[i]=='A'):
     home_points.append(0)
     away_points.append(3)

In [ ]:
bund_data['home_points']=home_points
bund_data['away_points']=away_points

In [ ]:
bund_data=bund_data.iloc[::-1]
bund_data=bund_data.reset_index(drop=True)

In [ ]:
df=bund_data.copy()

In [ ]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,home_points,away_points
0,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,12,1,2,0,0,5.0,4.75,1.55,1,1
1,14/05/2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,3,3,2,0,0,1.4,5.00,7.00,3,0
2,14/05/2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,10,1,4,0,0,2.2,4.00,2.87,3,0
3,14/05/2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,2,1,2,0,0,2.0,4.33,3.10,3,0
4,14/05/2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,3,2,0,0,0,1.7,4.33,4.33,1,1

In [ ]:
import statistics

In [ ]:
def home_mean(i,j,bund_data,df):
   home_name=df.HomeTeam[i]
   dummy=[]
   counter=0
   for z  in range(i+1,1530):
     if(counter<10):
      if(bund_data.HomeTeam[z]==home_name):
        dummy.append(bund_data.iloc[:, j][z])
        counter=counter+1
     else:
       break
   if(len(dummy)>0):
    valor=statistics.mean(map(float,dummy))
   else:
    valor=-33
   return valor

In [ ]:
def away_mean(i,j,bund_data,df):
   away_name=df.AwayTeam[i]
   dummy=[]
   counter=0
   for z  in range(i+1,1530):
     if(counter<10):
      if(bund_data.AwayTeam[z]==away_name):
        dummy.append(bund_data.iloc[:, j][z])
        counter=counter+1
     else:
       break
   if(len(dummy)>0):
    valor=statistics.mean(map(float,dummy))
   else:
    valor=-33
   return valor

In [ ]:
for i in df.index:
  df.loc[i,'FTHG']= home_mean(i,3,bund_data,df)
  df.loc[i,'FTAG']= home_mean(i,4,bund_data,df)
  df.loc[i,'HTHG']= home_mean(i,6,bund_data,df)
  df.loc[i,'HTAG']= home_mean(i,7,bund_data,df)
  df.loc[i,'HS']= home_mean(i,9,bund_data,df)
  df.loc[i,'AS']= home_mean(i,10,bund_data,df)
  df.loc[i,'HST']= home_mean(i,11,bund_data,df)
  df.loc[i,'AST']= home_mean(i,12,bund_data,df)
  df.loc[i,'HF']= home_mean(i,13,bund_data,df)
  df.loc[i,'AF']= home_mean(i,14,bund_data,df)
  df.loc[i,'HC']= home_mean(i,15,bund_data,df)
  df.loc[i,'AC']= home_mean(i,16,bund_data,df)
  df.loc[i,'HY']= home_mean(i,17,bund_data,df)
  df.loc[i,'AY']= home_mean(i,18,bund_data,df)
  df.loc[i,'HR']= home_mean(i,19,bund_data,df)
  df.loc[i,'AR']= home_mean(i,20,bund_data,df)
  df.loc[i,'home_points']= home_mean(i,24,bund_data,df)
  df.loc[i,'away_points']= home_mean(i,25,bund_data,df)

In [ ]:
 df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,home_points,away_points
0,14/05/2022,Wolfsburg,Bayern Munich,1.8,1.3,D,1.2,0.4,A,13.8,...,4.4,1.4,1.7,0.0,0.1,5.0,4.75,1.55,1.3,1.6
1,14/05/2022,Union Berlin,Bochum,1.4,0.8,H,0.8,0.5,H,11.7,...,4.9,2.1,1.9,0.0,0.1,1.4,5.00,7.00,2.1,0.6
2,14/05/2022,Stuttgart,FC Koln,1.4,2.1,H,0.6,1.1,H,15.0,...,4.5,1.4,1.7,0.0,0.0,2.2,4.00,2.87,1.2,1.5
3,14/05/2022,M'gladbach,Hoffenheim,1.6,2.2,H,0.8,1.4,H,15.9,...,4.4,2.3,2.2,0.1,0.2,2.0,4.33,3.10,1.1,1.7
4,14/05/2022,Mainz,Ein Frankfurt,2.1,0.5,D,0.8,0.2,A,14.7,...,3.8,1.2,2.0,0.0,0.0,1.7,4.33,4.33,2.3,0.5

In [ ]:
FTHG=[]
FTAG=[]
HTHG=[]
HTAG=[]
HS=[]
AS=[]
HST=[]
AST=[]
HF=[]
AF=[]
HC=[]
AC=[]
HY=[]
AY=[]
HR=[]
AR=[]
home_points=[]
away_points=[]

for i in df.index:
  FTHG.append(away_mean(i,3,bund_data,df))
  FTAG.append(away_mean(i,4,bund_data,df))
  HTHG.append(away_mean(i,6,bund_data,df))
  HTAG.append(away_mean(i,7,bund_data,df))
  HS.append(away_mean(i,9,bund_data,df))
  AS.append(away_mean(i,10,bund_data,df))
  HST.append(away_mean(i,11,bund_data,df))
  AST.append(away_mean(i,12,bund_data,df))
  HF.append(away_mean(i,13,bund_data,df))
  AF.append(away_mean(i,14,bund_data,df))
  HC.append(away_mean(i,15,bund_data,df))
  AC.append(away_mean(i,16,bund_data,df))
  HY.append(away_mean(i,17,bund_data,df))
  AY.append(away_mean(i,18,bund_data,df))
  HR.append(away_mean(i,19,bund_data,df))
  AR.append(away_mean(i,20,bund_data,df))
  home_points.append(away_mean(i,24,bund_data,df))
  away_points.append(away_mean(i,25,bund_data,df))

In [ ]:
df['FTHG_A']=FTHG
df['FTAG_A']=FTAG
df['HTHG_A']=HTHG
df['HTAG_A']=HTAG
df['HS_A']=HS
df['AS_A']=AS
df['HST_A']=HST
df['AST_A']=AST
df['HF_A']=HF
df['AF_A']=AF
df['HC_A']=HC
df['AC_A']=AC 
df['HY_A']=HY
df['AY_A']=AY
df['HR_A']=HR
df['AR_A']=AR
df['home_points_A']=home_points
df['away_points_A']=away_points

In [ ]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HF_A,AF_A,HC_A,AC_A,HY_A,AY_A,HR_A,AR_A,home_points_A,away_points_A
0,14/05/2022,Wolfsburg,Bayern Munich,1.8,1.3,D,1.2,0.4,A,13.8,...,10.8,8.3,3.6,7.3,1.4,1.4,0.0,0.0,0.7,2.2
1,14/05/2022,Union Berlin,Bochum,1.4,0.8,H,0.8,0.5,H,11.7,...,11.3,13.5,7.0,4.1,2.1,2.3,0.0,0.1,1.7,1.1
2,14/05/2022,Stuttgart,FC Koln,1.4,2.1,H,0.6,1.1,H,15.0,...,13.2,13.4,5.8,4.8,1.9,2.2,0.0,0.0,0.9,1.8
3,14/05/2022,M'gladbach,Hoffenheim,1.6,2.2,H,0.8,1.4,H,15.9,...,11.4,12.0,4.2,4.8,1.6,2.3,0.1,0.0,1.4,1.4
4,14/05/2022,Mainz,Ein Frankfurt,2.1,0.5,D,0.8,0.2,A,14.7,...,8.6,14.2,4.7,5.1,1.3,2.4,0.0,0.1,1.4,1.4

In [ ]:
df.drop('HTR', inplace=True, axis=1)

In [ ]:
home_points=[]
away_points=[]
for i in df.index:
  if(bund_data.FTR[i]=='H'):
      df.loc[i,'FTR']=1
  if(bund_data.FTR[i]=='D'):
      df.loc[i,'FTR']=2
  if(bund_data.FTR[i]=='A'):
      df.loc[i,'FTR']=3

In [ ]:
df.to_csv('bund_data.csv',index=False)
!cp bund_data.csv "/content/gdrive/My Drive/Bundesliga/"